xsd2open/src/main/resources/data/easy.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tempuri.org/PurchaseOrderSchema.xsd"
           targetNamespace="http://tempuri.org/PurchaseOrderSchema.xsd"
           elementFormDefault="qualified">
<xsd:complexType name="tipoOrdem">
<xsd:sequence>
  <xsd:element name="enviaPara" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="cobraPara" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <element name="a" type="b" minOccurs="0" maxOccurs="1"/>
</xsd:schema>
